body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  background-color: rgb(79, 78, 141);
  padding-top: 15px;
  padding-right: 30px;
  padding-bottom: 15px;
  padding-left: 30px;
}

.navbar {
  box-shadow: 0 5px 10px rgba(1, 2, 5, 0.5);
}

.logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.navlinks {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navlinks a {
  color: white;
  text-decoration-style: none;
  font-size: 16px;
  transition: color 2s;
}

.navlinks a:hover {
  color: lawngreen;
}
